*.swp
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
Makefile.global
mkinstalldirs
run-tests.php
Makefile
config.log
config.nice
config.status
include
libtool
Makefile.fragments
Makefile.objects
missing
modules
config.h
.deps
.libs
*.lo
*.la
meta_*.c
meta_*_defs.h
lemon
build.log
gdb.txt
.gitCOMMIT_EDITMSG
